.sg-home-content {
  height: 350px;
  padding: 0px 60px 60px 60px;
}

.news-board {
  background-color: white;
  width: 400px;
  height: 100%;
}

.event-board {
  background-color: black;
  width: 100%;
  height: 630px;
  min-width: 1024px;
}
