.sg-home-content {
  height: 350px;
  padding: 0 60px 60px 60px;
}

.news-board {
  width: 400px;
  height: 100%;

  background-color: white;
}

.event-board {
  width: 100%;
  min-width: 1024px;
  height: 583px;

  background-color: black;
}
