.sg-navigation {
  position: absolute;
  top: 0;

  display: inline-block;

  width: 100%;
  min-width: 1124px;
  max-width: 100% !important;
  height: 500px;
  padding: 60px !important;

  border-radius: 0 !important;
  background-color: #dedede;
}

.sg-navigation img {
  display: inline-block;

  width: 300px;
}

.sg-navigation nav {
  display: inline-block;

  width: calc(100% - 360px);
  height: 60px;
  margin-right: 15px;
  margin-left: 15px;

  opacity: .6;
}

.sg-navigation nav ul li {
  height: 60px;
  padding: 15px;

  text-align: center;

  border-radius: 30px;
}

.sg-navigation nav ul li ul {
  margin-top: 15px;
  margin-left: -15px;
}

.sg-navigation nav ul li a {
  text-align: center;

  border-radius: 6px;
}

.sg-navigation nav ul .divider {
  height: 30px;
  margin-top: 15px;
  padding: 0;

  border-right: 1px solid #dedede;
  border-radius: 0;
}

.sg-container {
  position: relative;
  z-index: 10;
  top: 180px;

  width: 100%;
}


.footer {
  position: relative;
  top: 180px;

  width: 100%;
  min-width: 1124px;
  max-width: 100% !important;
  padding: 20px;

  text-align: center;

  background-color: #dedede;
}
