.sg-home-content {
  width: 100%;
  height: 480px;
}

.sg-home-content .sg-info {
  height: 400px;
}

.sg-info .sg-bulletin-board {
  height: 300px;
  border-radius: 4px 4px 0px 0px;
  background-color: rgba(255, 255, 255, 0.96);
}

.sg-info .sg-intro-video {
  height: 300px;
  text-align: center;
  line-height: 300px;
}

.sg-info .sg-intro-video i {
  color: #34495e;
  text-shadow: 0px 0px 60px white;
  font-size: 88px;
  opacity: 0.7;
  transition: 0.5s;
}

.sg-info .sg-intro-video i:hover {
  opacity: 0.9;
}

.sg-home-content .fb-stream {
  position: relative;
  width: 100%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.6);
}

.sg-home-content .fb-stream a {
  margin-left: 10px;
  color: white;
  font-size: 18px;
  line-height: 80px;
}

.sg-home-content .fb-stream a:before {
  font-size: 32px;
}

.sg-poster-wall {
  width: 100%;
  height: 583px;
  background-color: black;
}


@media (max-width: 1024px) {
  .sg-home-content .sg-info {
    height: 388px;
  }

  .sg-info .sg-intro-video {
    position: absolute;
    top: -41px;
    z-index: 10;
    height: 88px;
    line-height: 88px;
  }

  .sg-home-content .fb-stream {
    top: -88px;
    height: 180px;
  }

  .sg-home-content .fb-stream a {
    position: absolute;
    bottom: 0;
  }
}
