
.sg-about-intorduce-wall {
    background-color: black;
}

.sg-about-box{
    margin-top: 1000px;
    margin:0px auto;
}

.sg-about-alert{
    max-width: 994px;
    margin:0px auto;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid;
    border-radius: 4px;
}

.sg-about-alert-info{
    color:white;
    background-color:black;
    border-color:black;
}

.span{
    width: 100%;
}
