
.sg-about-intorduce-wall {
  width: 100%;
  height: 1100px;
  background-color: black;
}

.sg-about-box{
    margin:0px auto;
    max-width: 1024px;
}

.sg-about-alert{
    max-width: 994px;
    margin:0px auto;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid;
    border-radius: 4px;
}

.sg-about-alert-info{
    color:#3a87ad;
    background-color:#d9edf7;
    border-color:#bce8f1;
}

.span{
    width: 962px;
}
